@model CommunicatieAppBackend.Models.NieuwsberichtViewModel

@{
    ViewData["Title"] = "Create";
    String defaultdt = DateTime.Now.ToString("yyyy-MM-ddThh:mm");
}

<h1>Create</h1>

<h4>Nieuwsbericht</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-controller="Nieuwsbericht" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* <input type="hidden" asp-for="NieuwsberichtId" /> *@
            <div class="form-group">
                <label asp-for="nieuwsbericht.Titel" class="control-label"></label>
                <input asp-for="nieuwsbericht.Titel" class="form-control" />
                <span asp-validation-for="nieuwsbericht.Titel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nieuwsbericht.Inhoud" class="control-label"></label>
                <input asp-for="nieuwsbericht.Inhoud" class="form-control" />
                <span asp-validation-for="nieuwsbericht.Inhoud" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nieuwsbericht.Datum" class="control-label"></label>
                <input type="datetime-local" asp-for="nieuwsbericht.Datum" class="form-control" value="@defaultdt" />
                <span asp-validation-for="nieuwsbericht.Datum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nieuwsbericht.Locatie"></label>
                <br/>
                @Html.DropDownListFor(
                    m=>m.nieuwsbericht.LocatieId,
                    new SelectList(Model.Locaties,"Id","name",Model.Locaties.FirstOrDefault()),
                    "--select--"
                )
                @* <label asp-for="Locaties" class="control-label"></label>
                <input type="datetime-local" asp-for="nieuwsbericht.Datum" class="form-control" value="@defaultdt" />
                <span asp-validation-for="nieuwsbericht.Datum" class="text-danger"></span> *@
            </div>
            <div class="form-group">
                <label asp-for="Foto" class="control-label"></label>
                <input asp-for="Foto" class="form-control">
                @* <div id="chooseFile"><input type="file" name="Foto" accept="image/*" /></div> *@
                <span asp-validation-for="Foto" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Nieuwsbericht" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
