@model CommunicatieAppBackend.Models.MeldingViewModel

@{
    ViewData["Title"] = "Create";
    String defaultdt = DateTime.Now.ToString("yyyy-MM-ddThh:mm");
}

<h1>Create</h1>

<h4>Melding</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Melding" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* <input type="hidden" asp-for="MeldingId" /> *@
            <div class="form-group">
                <label asp-for="melding.Titel" class="control-label"></label>
                <input asp-for="melding.Titel" class="form-control" />
                <span asp-validation-for="melding.Titel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="melding.Inhoud" class="control-label"></label>
                <input asp-for="melding.Inhoud" class="form-control" />
                <span asp-validation-for="melding.Inhoud" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="melding.Datum" class="control-label"></label>
                <input type="datetime-local" asp-for="melding.Datum" class="form-control" value="@defaultdt" />
                <span asp-validation-for="melding.Datum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="melding.Locatie"></label>
                <br/>
                @Html.DropDownListFor(  
                    m=>m.melding.LocatieId,
                    new SelectList(Model.Locaties,"Id","name",Model.Locaties.FirstOrDefault()),
                    "--select--"
                )
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Melding" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
