@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Klik <a asp-controller="Melding">hier</a> om meldingen te wijzigen.</p>
    <p>Klik <a asp-controller="Nieuwsbericht">hier</a> om nieuwsberichten toe te voegen.</p>
</div>
